body {
  align-items: center;
  background-color: #ffd700;
  color: #f01616;
  font-family: 'Avenir', Arial, sans-serif;
}

a {
  color: #f01616;
  font-weight: bold;
}

a:hover {
  color: #f01616;
  opacity: 0.5;
  text-decoration: none;
}

h1, h3, h5 {
  font-weight: bold;
}

table {
  width: 100%;
}

table, th, td {
  border: 2px solid #f01616;
}

i {
  cursor: pointer;
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid #f01616;
  color: #f01616;
}
